In [1]:
import sqlalchemy as sql
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String
from sqlalchemy.orm import sessionmaker

In [2]:
engine = create_engine('postgresql://postgres:@192.168.99.100:54320/postgres', echo=True)
Session = sessionmaker(bind=engine)
session = Session()

In [4]:
Base = declarative_base()

2020-01-10 17:52:06,343 INFO sqlalchemy.engine.base.Engine select version()
2020-01-10 17:52:06,346 INFO sqlalchemy.engine.base.Engine {}
2020-01-10 17:52:06,349 INFO sqlalchemy.engine.base.Engine select current_schema()
2020-01-10 17:52:06,350 INFO sqlalchemy.engine.base.Engine {}
2020-01-10 17:52:06,353 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-01-10 17:52:06,353 INFO sqlalchemy.engine.base.Engine {}
2020-01-10 17:52:06,355 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-01-10 17:52:06,356 INFO sqlalchemy.engine.base.Engine {}
2020-01-10 17:52:06,357 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2020-01-10 17:52:06,358 INFO sqlalchemy.engine.base.Engine {}

In [7]:

class User(Base):
    __tablename__ = 'a'

    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    nickname = Column(String)

    def __repr__(self):
        return "<User(name='%s', fullname='%s', nickname='%s')>" % (
                             self.name, self.fullname, self.nickname)

C:\Users\iLeks\Anaconda3\lib\site-packages\sqlalchemy\ext\declarative\clsregistry.py:129: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.User, and will be replaced in the string-lookup table.
  % (item.__module__, item.__name__)

In [8]:
Base.metadata.create_all(engine)

2020-01-10 17:52:35,486 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2020-01-10 17:52:35,487 INFO sqlalchemy.engine.base.Engine {'name': 'users'}
2020-01-10 17:52:35,489 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2020-01-10 17:52:35,490 INFO sqlalchemy.engine.base.Engine {'name': 'a'}
2020-01-10 17:52:35,492 INFO sqlalchemy.engine.base.Engine
CREATE TABLE a (
	id SERIAL NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	nickname VARCHAR,
	PRIMARY KEY (id)
)


2020-01-10 17:52:35,493 INFO sqlalchemy.engine.base.Engine {}
2020-01-10 17:52:35,501 INFO sqlalchemy.engine.base.Engine COMMIT

In [10]:
ed_user = User(name='ed', fullname='Ed Jones', nickname='edsnickname')

In [11]:
ed_user

In [ ]:
session.add(ed_user)

In [ ]:
session.commit()

In [ ]:
session.new

In [9]:
User.__table__.drop(engine)

2020-01-10 17:55:10,054 INFO sqlalchemy.engine.base.Engine
DROP TABLE a
2020-01-10 17:55:10,055 INFO sqlalchemy.engine.base.Engine {}
2020-01-10 17:55:10,064 INFO sqlalchemy.engine.base.Engine COMMIT